<%# add navigation links to this file %>
<li><%= link_to 'Videos', root_path %></li>
<li><%= link_to 'About', page_path('about') %></li>
<li><%= link_to 'Login Com Facebook', signin_path %></li>
<li><%= link_to 'Upload Videos', products_path %></li>

